@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-color: lemonchiffon;
}

h1{
  font-family: 'Ubuntu', cursive;
}




.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
