@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-color: lemonchiffon;
}

h1{
  font-family: 'Ubuntu', cursive;
  color: hotpink;
  font-size: 100px;
  right 50px;
  position: relative;
  left: 240px;
  top: -20px;
}

h3 {
  font-family: 'Ubuntu', cursive;
  font-weight: bold;
  bottom: 45px;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;

}

#cupcake {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.navbar-nav {
  background-color: lightpink;
  border: black double;
  position: relative;
  width: 400px;
  margin -10px;
  text-align: center;
  font-size: 25px;
  font-family: 'Ubuntu', cursive;
  padding-left: 10px;
  padding-right: 10px;

}

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
