@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-color: lemonchiffon;
}

h1{
  font-family: 'Ubuntu', cursive;
  color: hotpink;
  font-size: 100px;
  position: relative;
  margin-left: 8px;
  top: -20px;
  text-align: center;
}

h3 {
  font-family: 'Ubuntu', cursive;
  font-weight: bold;
  bottom: 45px;
  text-align: center;
  margin-top: 20px;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;

}

#cupcake {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.col-md-4 a {
  font-size:30px;
  text-align: center;
  font-family: 'Ubuntu', cursive;
  color: lightpink;
  text-decoration: underline;
  margin-bottom: 75px;
  margin-left: 65px;
}

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
