<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> {{ page.title }}</h1>
      </div>
    </div>
  </div>
<div class="container">
 <div class="row">
  <header>
     <ul>
      <div class="col-md-4">
       <li><a href="com372student/isabellemazzucca.github.io/about.html">About</a></li>
      </div>
      <div class="col-md-4">
       <li><a href="com372student/isabellemazzucca.github.io/featuredrecipes.html">Featured Recipes</a></li>
      </div>
      <div class="col-md-4">
       <li><a href="com372student/isabellemazzucca.github.io/bakingtips.html">Baking Tips</a></li>
     </div>
    </ul>
</header>
</div>
</div>
<div class="container">
</div>
  {{ content }}
</body>
</html>
