<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header>
<div class="container-fluid">
  <h1>{{ page.title }}</h1>
  <div class="row">
    <nav>
    <ul class="nav navbar-static-top">
      <div class="col-md-4"><li><a href="com372student/Projects/isabellemazzucca.github.io/about.html">About</a></li>
      </div>
      <div class="col-md-4"><li><a href="com372student/Projects/isabellemazzucca.github.io/featuredrecipes.html">Featured Recipes</a></li>
      </div>
      <div class="col-md-4"><li><a href="com372student/Projects/isabellemazzucca.github.io/bakingtips.html">Baking Tips</a></li>
      </div>
    </ul>
  </nav>
</div>
</div>
</header>
  {{ content }}

</body>
</html>
